body {
    overflow: hidden;
}

#wolfGirl {
    position: absolute;

    height: 60%;
    animation-name: goLeft, fromBRight;
    animation-duration: 500ms, 500ms;
    animation-delay: 0ms, 500ms;

    animation-iteration-count: 1, 1;
}

#wolfGirl img {
    display: block;
    height: 100%;
    width: auto;
}

/*
Go left, first animation
*/
@keyframes goLeft {
    0% {
        left: 5%;
        bottom: -1%;
    }
    20% { bottom: 0;}
    100% {
        left: 10%;
        bottom: -2%;
    }
}

@keyframes fromBRight {
    0% {
        transform: scaleX(-1);
        right: -2%;
        bottom: -2%;
    }

    100% {
        transform: scaleX(-1);
        right: 0;
        bottom: 0;
    }

}
